.main-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content-wrapper {
  flex: 1;
  margin-left: 260px; /* Width of sidebar */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: var(--spacing-xl) var(--spacing-xxl);
  background-color: var(--colors-canvas);
}
